<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <section>
        <div class="container">
            <h1 class="mt-4">Add Category</h1>

            <div class="row">
                <div class="col-md-6 m-auto">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <label for="">Category Name:</label>
                        <input type="text" id="newCate" name="category_name" class="form-control" placeholder="Enter Category Name"
                            required>
                        <label for="">Slug:</label>
                        <textarea name="slug"  class="form-control" id="newSlug" cols="30" rows="5"></textarea>
                        <br>
                        <input type="button"   onclick="addCate()" value="Submit" class="btn btn-success float-right">
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>