<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <section>
    <div class="app-content content my-4 ">
      <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-body">
          <!-- Basic form layout section start -->
          <section id="basic-form-layouts">
            <div class="row match-height">
              <div class="offset-md-1 col-md-10">
                <div class="card">
                  <div class="card-content collapse show">
                    <div class="card-body">

                      <form  class="form"   
                        enctype="multipart/form-data" accept-charset="ISO-8859-1">
                        <div class="form-body">
                          <h3 class="form-section"><b>
                              <i class="ft-flag"></i>Add Apks</b></h3>
                          <br>
                          <div class="row">
                            <div class="col-md-6 form-group">
                              <label for="category" ><b>Category</b></label>
                              <select  name="category_id"  name="category" id="cat_id" onchange="onCateSelect()" class="form-control">
                                <option>Select Category...</option>
                              {{#each cate}}
                                <option value={{this._id}} >
                                  {{this.category}} 
                                  </option>
                                {{/each}}
                                
                              </select>
                            </div>
                            <div class="col-md-6 form-group">
                              <label for=""><b>Sub-Category</b></label>
                              <select name="sub_category"  id="subcategory" class="form-control" onchange="onsubCateSelect()">
                                <option value=""> select ...</option>
                              </select>
                            </div>

                            <div class="col-md-6 form-group">
                              <label for=""><b>Title:</b></label>
                              <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title">
                            </div>

                            <div class="col-md-6 form-group">
                              <label for=""><b>Developer Name:</b></label>
                              <input type="text" id="developer" name="developer" class="form-control"
                                placeholder="Enter Developer Name">
                            </div>

                            <div class="col-md-12 form-group">
                              <label for=""><b>Image:</b></label>
                              <input type="file" id="image" name="image" class="form-control">
                            </div>
                            <div class="col-md-12 form-group">
                              <label for=""><b>Description</b>:</label>
                              <textarea name="description" id="description" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6 form-group">
                              <label for=""><b>Version</b></label>
                              <input type="text" id="version" class="form-control" placeholder="Version" name="version">
                            </div>

                            <!-- <div class="col-md-6 form-group">
                            <label for=""><b>Publish Date</b></label>
                            <input type="date" id="" class="form-control" value="2021-05-02 05:59:22" placeholder="Publish Date"
                              name="publish_date">
                          </div> -->


                            <div class="col-md-6 form-group">
                              <label for=""><b>Official Website</b></label>
                              <input type="text" id="website" class="form-control" placeholder="Official WebSite link"
                                name="official_web">
                            </div>
                            <div class="col-md-6 form-group">
                              <label for=""><b>Apk File</b></label>
                              <input type="file" id="file" data-validation-allowing="apk"  name="file"
                                class="form-control-file">
                            </div>
                            <div class="col-md-2 form-group mt-2">
                              <label for="feature"><b>Editor's Choice</b></label>
                              <input type="checkbox" id="feature" class="" name="editor_choice" value="1">
                            </div>
                            <div class="col-md-2 form-group mt-2">
                              <label for="trending"><b>Trending</b></label>
                              <input type="checkbox" id="trending" class="" name="trending" value="1">
                            </div>
                            <div class="col-md-2 form-group mt-2">
                              <label for="pre_register"><b>Rapsody Apk</b></label>
                              <input type="checkbox" id="pre_register" class="" name="pre_register" value="1">
                            </div>

                            <!-- <div class="col-md-12 form-group">
                            <label for="">Status</label>
                            <select name="status" class="form-control">
                            <option>Select Status...</option>

                            <option>Pending</option>
                            <option>Confirm</option>
                            <option>Reject</option>

                            </select>
                          </div> -->

                          </div>

                        </div>

                        <div class="form-actions">
                          <button type="button" onclick="addApk()" class="btn btn-primary float-right">
                            <i class="la la-check-square-o"></i> Publish
                          </button>
                        </div>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </section>
          <!-- // Basic form layout section end -->
        </div>
      </div>
    </div>
    </div>
  </section>