<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <section>
        <div class="container">
            <div class="h1 mt-4">
                All Categories
            </div>
            <a href="addCategory" class="btn btn-warning float-right my-2">Add Category</a>
            <div class="clearfix"></div>
            <table class="table table-bordered table-hover table-condensed table-export" cellspacing="0" width="100%">
                <thead class="bg-info">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Category Name
                        </th>
                        <th>
                            Slug
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cate}}
                    <tr>
                        <td>
                            1 </td>

                        <td>
                            {{this.category}}
                        </td>
                        <td>
                            {{this.slug}}
                        </td>
                        <td class="text-right">
                            <a href="addsubcategory" class="btn btn-circle btn-primary">Add SubCategory</a>

                        </td>
                    </tr>
                    {{/each}}


                </tbody>
            </table>

        </div>
    </section>
</main>